:root {
    --header-bg-color: #daeef3;
    --main-bg-color: #f1fbfe;
}
body {
    font-family: 'Verdana', sans-serif;
    margin: 15px;
    overflow-x: hidden;

    /* background-color: #daeef3;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px; */
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}
.active>a {
    font-style: italic;
    
}
main img {
    max-width: 100%;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: -82px; /* 82 = 20 + 42 + 20 = header> h1 { margin-top + font-height + margin-bottom } */
    border: .2em solid black;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}
footer {
    border-radius: 0 0 20px 20px;
}
header, footer {
    margin: 0 auto;
    background: #daeef3;
    background: var(--header-bg-color);
}
footer, main {
    padding: 20px 30px;
}
main {
    display: block;
    margin: 0 auto;
    background: #f1fbfe;
    background: var(--main-bg-color);
    border: .2em solid black;
    border-top: none;
    border-bottom: none;
}
footer {
    border: .2em solid black;
    border-top: none;
}

header> h1 {
    color: #169bbd;
    margin: 20px 30px;
    font-weight: normal;
    font-size: 42px;
    float: left;
}
header> .logo {
    float: right;
    padding: .3em;
}

/* main menu */
nav ul {
    list-style: none;
}
header> nav> ul {
    clear: both;
    width: 100%;
    line-height: 1.5em;
    height: 2em;
    font-weight: bold;
    margin: 20px 30px 0 20px;
    padding-bottom: .5em;
}

header> nav> ul> li {
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
}
/* Submenu */
header> nav> ul> li> ul {
    display: none;
    position: absolute;
    padding: 1em;
    min-width; 100%;
    border-radius: 10px;
    
    background-color: #daeef3;
    background: var(--header-bg-color);
    font-weight: normal;
}
header> nav> ul> li> ul a {
    text-decoration: none;
}
/* opened Submenu */
header> nav> ul> li:hover> ul,
header> nav> ul   a:focus~ ul {
    display: block;
}


@media (max-width: 35em) {
header {
    position: static;
}
header> h1 {
    display: none;
}
header> .logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header> nav> ul {
    padding-left: 0;
    height: auto;
}

header> nav> ul> li {
    float: none;
    clear: both;
}
/* Submenu */
header> nav> ul> li> ul {
    position: static;
    background: transparent;
}

header> nav> ul> li> ul> li {
    float: left;
    margin: 0 1em 0 0;
}
}
